@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



*{
    padding : 0;
    margin : 0;
    font-family: 'Montserrat', sans-serif !important;
}

.card{
   box-shadow: 0 0 2px gray; 
   border-radius: 0.3rem !important;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.normal-text{
    font-size: 1rem;
}

.auth-form{
    width: 400px;
}

.authenticate-form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005555;
}

/* antd overrider*/
Input{
    border-radius: 0.5rem !important ;
    border: 1px solid rgba(128, 128, 128, 0.521)  !important;
    height: 40px;
}

input:focus{
    outline: none !important;
    border: 1px solid !important;
    box-shadow: none !important;
}

/*label*/

label{
    font-size: 16px !important;
    color: black;
}

.ant-form-item{
    margin : 10px 0; 
}

.primary-button{
    background-color: #005555;
    border-color: #005555;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 18px;
}


.authenticate-form .card-title{
    font-size: 1.5rem;
    background-color: orange;
    font-weight: bold;
    max-width: max-content;
    padding: 7px 10px;
    margin-left: -40px;
    border-bottom-left-radius: 1rem;
}